@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

a.active{
  color: #494446;
  background-color: #FFF1EA;
  border-radius: 0.75rem;
  padding: 0.375rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  a.active {
    padding: 0.75rem;
  }
}
